
{% extends 'blog/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block post %}

<div class="mt-3 card mb-5">
	<img class="card-img-top" src="{% if post.image %} {{ post.image.url }} {% endif %}">
	<div class="card-body adjust-content">
		{% csrf_token %}
		<h3 class="card-title">{{ post.title }} <small>{{ post.timestamp|timesince }} ago</small></h3>
		<p class="card-text">{{ post.get_markdown|linebreaks }}</p>
        <a href="{% url 'post_update' post.slug %}" class="card-link btn btn-primary">Update</a>
        <button class="card-link btn btn-danger delete-post" data-id="{{post.id}}">Delete</button>
	</div>
</div>



<script src="{% static 'js/deletePost.js' %}">
</script>
{% endblock %}
